{
    "presets": [
        ["env", {
            "target": {
                "node": "current"
            },
            "useBuiltIns": "usage"
        }],
        "stage-2"
    ],
    "plugins": [
        "syntax-dynamic-import"
    ]
}
