{
    "presets": [
        ["env", {
            "targets": {
                "node": "6.11"
            },
            "modules": "commonjs",
            "useBuiltIns": "usage",
            "loose": false
        }],
        "stage-2"
    ],
    "plugins": [
        "dynamic-import-node"
    ]
}
