{
    "presets": [
        ["env", {
            "targets": {
                "node": "current"
            },
            "modules": "commonjs",
            "useBuiltIns": "usage",
            "loose": false
        }],
        "stage-2"
    ],
    "plugins": [
        "syntax-dynamic-import"
    ]
}
